[submodule "Assets/GameFramework"]
	path = Assets/GameFramework
url=https://github.com/xin0205/UnityGameFramework.git
[submodule "Assets/BaseGameFramework"]
	path = Assets/BaseGameFramework
	url = https://github.com/xin0205/GameFramework.git